<!DOCTYPE html>
html(lang=cv.locale)
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content=cv.description)
        link(rel="stylesheet", href="/main.css")
        title= cv.title
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="manifest" href="/site.webmanifest")
    body
        main
            nav.menu
                ol.menu__items
                    li.menu-item
                        != icon('download', {class: 'menu-item__icon'})
                        a.menu-item__title(href=`${cv.urlPrefix}/cv.pdf`)= cv.download
                    each locale, localeName in cv.locales
                        if localeName !== cv.locale
                            li.menu-item
                                != icon('flag', {class: 'menu-item__icon'})
                                a.menu-item__title(href=locale.link)= locale.name
            h1= cv.name
            p.info
                != icon('mail', {class: 'info__icon'})
                a.info__description(href=`mailto:${cv.email}`)= cv.email
            p.info
                != icon('smartphone', {class: 'info__icon'})
                a.info__description(href=`tel:${cv.phoneNumber}`)= cv.phoneNumber
            p.info
                != icon('map-pin', {class: 'info__icon'})
                span.info__description= cv.location
            section
                h2.section__title= cv.experience.title
                each item in cv.experience.items
                    .item__date #{formatDate(item.start, 'MMM YYYY')} - #{item.end ? formatDate(item.end, 'MMM YYYY') : cv.now}
                    .item__content
                        h3.item__title= item.employer
                        p.item__subtitle= item.role
                        ul.item__bullet-points
                            each bulletPoint in item.bulletPoints
                                li.item__bullet-point= bulletPoint
            section
                h2.section__title= cv.education.title
                each item in cv.education.items
                    .item__date #{formatDate(item.start, 'YYYY')} - #{item.end ? formatDate(item.end, 'YYYY') : cv.now}
                    .item__content
                        h3.item__title= item.title
                        p.item__subtitle= item.location